venv
graphs
__pycache__
data
maintenanceDataReal.csv
predictedReal.csv
maintenanceDataRealBackUp.csv
predictedRealBackUp.csv
todo
Rcode.r
plots_mcmc
plots_evolution
plots_validate
full_run_output.txt
