<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/table3">MTBF Estimates</a></li>
			<li><a href="/table6">Bayes Factors</a></li>
			<li><a href="/graphs">View Graphs</a></li>
			<li><a href="/add">Add Data</a></li>
		</ul>
	</nav>
	
	<h1>{{ added }}</h1>
	<h1>{{ undone }}</h1>

	<div class="addContent">
		<form action="/add" method="POST" class="addForm">

			<label for="dateBox">Date of Incident:</label>
			<input type="date" id="dateBox" name="Date"><br><br>

			<label for="flightHours">Flight Hours:</label>
			<input type="number" id="flightHours" name="FlightHours"><br><br>	

			<label for="system">System:</label>
			<input type="number" id="system" name="System"><br><br>
		
			<label for="subSystem">Subsystem:</label>
			<input type="number" id="subSystem" name="SubSystem"><br><br>

			<label for="failureType">Failure Type:</label>
			<input type="number" id="failureType" name="FailureType"><br><br>
			<input type="submit" value="Submit">

		</form>
		<form action="/undo" method="POST" class="undo">
		    <input type="submit" value="Undo">
		</form>
	</div>
</body>
</html>



