<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>MTBF Graphs</title>
	</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tables">MTBF & Bayes Factors</a></li>
			<li><a href="/graphs">View Graphs</a></li>
			<li><a href="/data">Maintenance and Contractor Data</a></li>
		</ul>
	</nav>


	<h1>MTBF Graphs</h1>
	<div class="gallery">
		{% for file in graphs %}
			<div class="galleryImg">
				<p> {{ "Subsystem: " ~ file.subsystem ~ ", Failure Type: " ~ file.failureType }} </p>
				<a href="{{ url_for('static', filename='graphs/' + file.fname) }}" alt="{{ fname }}">
					<img src="{{ url_for('static', filename='graphs/' + file.fname) }}" alt="{{ fname }}">
				</a>
			</div>
		{% endfor %}
	</div>
</body>
</html>
