<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<title>MTBF Graphs</title>
	</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/table3">MTBF Estimates</a></li>
			<li><a href="/table6">Bayes Factors</a></li>
			<li><a href="/graphs">View Graphs</a></li>
			<li><a href="/add">Add Data</a></li>
		</ul>
	</nav>


	<h1>MTBF Graphs</h1>
	<div class="gallery">
		{% for fname in graphs %}
			<div class="galleryImg">
				<p> {{ fname }} </p>
				<a href="{{ url_for('static', filename='graphs/' + fname) }}" alt="{{ fname }}">
					<img src="{{ url_for('static', filename='graphs/' + fname) }}" alt="{{ fname }}">
				</a>
			</div>
		{% endfor %}
	</div>
</body>
</html>
