<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/table3">Table 3</a></li>
			<li><a href="/table6">Table 6</a></li>
			<li><a href="/graphs">View Graphs</a></li>
			<li><a href="/add">Add Data</a></li>
		</ul>
	</nav>

	<h1>Worst Performing SubSystems</h1>

	<div class="landingGrid">
		{% for (subsystem, failureType), ratio in ratios %}
		<div class="landingEntry">
	    		<h2>
	    			Subsystem: {{ subsystem }}, Failure Type: {{ failureType }}
	    	        	- Performing at {{ "%.0f"|format(ratio * 100) }}% of Contractor Estimate
	    	    	</h2>

	    	    	<div class="landingImages">

	    	        	<a href="{{ url_for('static', filename='graphs/' ~ subsystem ~ '.0_' ~ failureType ~ '.png') }}">
					<img src="{{ url_for('static', filename='graphs/' ~ subsystem ~ '.0_' ~ failureType ~ '.png') }}">
				</a>
	    	    	</div>
	    	</div>
	    	{% endfor %}
	</div>
</body>
</html>
