<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav>
		<ul>		
			<li><a href="/">Home</a></li>
			<li><a href="/table3">MTBF Estimates</a></li>
			<li><a href="/table6">Bayes Factors</a></li>
			<li><a href="/graphs">View Graphs</a></li>
			<li><a href="/add">Add Data</a></li>
		</ul>
	</nav>
	<h1>Bayes Factors</h1>

	<div class="table6">
		<p>{{ table|safe }}<p>
	</div>

</body>
</html>

