<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tables">MTBF & Bayes Factors</a></li>
			<li><a href="/graphs">View Graphs</a></li>
			<li><a href="/data">Maintenance and Contractor Data</a></li>
		</ul>
	</nav>

	<div class="estimateTables">
		<div class="bayesEstimateTable">
			<h1>Bayes Estimates</h1>
			<p>{{ bayesEstimateTable|safe }}</p>
		</div>

		<div class="bayesFactorTable">
			<h1>Bayes Factor</h1>
			<p>{{ bayesFactorTable|safe }}</p>
		</div>
	<div>
</body>
</html>

